* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:active,
a:focus {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

td,
td,
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "Big John";
  font-display: swap;
  src: url("../fonts/Big John.woff") format("woff"), url("../fonts/Big John.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Bold";
  font-display: swap;
  src: url("../fonts/Open Sans_bold.woff") format("woff"), url("../fonts/Open Sans_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Light";
  font-display: swap;
  src: url("../fonts/Roboto Light.woff") format("woff"), url("../fonts/Roboto Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro light";
  font-display: swap;
  src: url("../fonts/Source Sans Pro light.woff") format("woff"), url("../fonts/Source Sans Pro light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro Black";
  font-display: swap;
  src: url("../fonts/Source Sans Pro Black.woff") format("woff"), url("../fonts/Source Sans Pro Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue Regular";
  font-display: swap;
  src: url("../fonts/Bebas Neue Regular.woff") format("woff"), url("../fonts/Bebas Neue Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

._overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  background-color: rgba(15, 15, 15, 0.6);
}

._overlay-show {
  display: block;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

._btn {
  padding: 12px 29px 12px 29px;
  font-size: 16px;
  line-height: 12px;
  background: none;
  border: 1px solid #2e353e;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

._title {
  margin-top: 76px;
  margin-bottom: 36px;
  font: 21px/12px 'Source Sans Pro light', sans-serif;
  color: #2e353e;
  text-align: center;
  letter-spacing: 3.8px;
}

._text {
  max-width: 500px;
  padding: 0 15px;
  margin: 0 auto 58px auto;
  line-height: 25px;
  color: #787d84;
  text-align: center;
  letter-spacing: 0.6px;
}

@-webkit-keyframes move {
  20% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }

  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@keyframes move {
  20% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }

  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

.scroll-up {
  position: fixed;
  top: 35%;
  right: 15px;
  z-index: -1;
  width: 48px;
  height: 48px;
  background-color: #23b691;
  background-color: rgba(35, 182, 145, 0.7);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
}

.scroll-up img {
  display: block;
  width: 105%;
  height: 105%;
  margin-top: -1px;
  margin-left: -1px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.scroll-up:hover {
  background-color: #2aceab;
}

.scroll-up--show {
  z-index: 3;
  opacity: 1;
}

._disable-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slick-slide {
  outline: none;
}

._hide {
  display: none;
}

.noscript-info {
  z-index: 100;
  width: 100%;
  padding: 25px;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  background-color: #fff;
}

.article-title {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 21;
}

.progress-wrapper {
  position: relative;
}

.progress-container {
  width: 100%;
  height: 4px;
  background: #e1e4eb;
}

.progress-bar {
  width: 0%;
  height: 4px;
  background: #26b49d;
}

.header {
  position: absolute;
  right: 0;
  left: 0;
}

.header__container {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 113px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu {
  margin-top: 48px;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-list:last-child {
  margin-right: 4px;
}

.header__menu-link {
  margin: 0 18px;
  font-size: 16px;
  line-height: 12px;
  color: #fff;
}

.header__menu-body._active {
  top: 0;
}

.header__menu-body._active .header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-body._active .header__menu-link {
  margin: 0;
}

.header__menu-body._active .header__menu-list li {
  position: relative;
  margin: 15px 0;
}

.header__menu-body._active .header__menu-link::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  width: 0;
  height: 1px;
  content: '';
  background-color: #fff;
  -webkit-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.header__menu-body._active .header__menu-link:hover::after {
  width: 100%;
}

.header__logo {
  margin-top: 40px;
  font-family: 'Big John', sans-serif;
  font-size: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo-link {
  color: #fff;
}

.menu__burger {
  display: none;
}

.intro {
  position: relative;
  min-height: 100vh;
  background: url("../images/header/intro-bg.jpg") 0 0 no-repeat;
  background-color: #534e47;
  background-size: cover;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.intro::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: rgba(28, 27, 27, 0.4);
}

.intro__body {
  position: relative;
  z-index: 1;
}

.body-intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 225px);
  margin-top: 113px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.body-intro__button {
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 auto 76px auto;
  text-align: center;
  cursor: pointer;
  background-color: #23b691;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease 0s;
  -o-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
  -webkit-animation: move 0.7s infinite linear;
          animation: move 0.7s infinite linear;
}

.body-intro__button img {
  margin-top: 2px;
}

.body-intro__button:hover {
  background-color: #2aceab;
  -webkit-animation: none;
          animation: none;
}

.content-intro__title {
  font-family: 'Source Sans Pro light', sans-serif;
  font-size: 35px;
  line-height: 70px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 7px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.content-intro__text {
  max-width: 603px;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.hello {
  width: 100%;
  min-height: 487px;
  background-color: #fff;
}

.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 843px;
  padding: 0 20px;
}

.hello__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 495px;
          flex: 0 0 495px;
  margin-top: 110px;
  margin-right: 15px;
}

.hello__info-title {
  margin-top: 0;
  margin-bottom: 44px;
  text-align: left;
}

.hello__info-text {
  margin-bottom: 29px;
  line-height: 25px;
  color: #787d84;
  letter-spacing: 0.5px;
}

.hello__info-btn:hover {
  color: #fff;
  background-color: #2e353e;
}

.hello__image-block {
  margin-top: 80px;
  text-align: center;
}

.about {
  background-color: #f1f1f1;
}

.about__container {
  max-width: 1005px;
  padding: 0 20px;
}

.about__top-inner {
  max-width: 500px;
  margin: 0 auto;
}

.about__top-title {
  margin-bottom: 38px;
}

.about__top-text {
  margin-bottom: 55px;
  letter-spacing: 0.5px;
}

.about__icons-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 213px;
  margin: 0 auto;
}

.about__icon-item {
  width: 54px;
  height: 54px;
  cursor: pointer;
  background-color: #7b7f88;
  border-radius: 50%;
}

.about__icon-item:first-child {
  padding-top: 12px;
  padding-left: 11px;
}

.about__icon-item:nth-child(2) {
  padding-top: 9px;
  padding-left: 11px;
}

.about__icon-item:last-child {
  padding-top: 10px;
  padding-left: 11px;
}

.about__icon-item img {
  display: block;
}

.about__icon-item:hover {
  background-color: #a1a5ae;
}

.about__icon-item._active-tab {
  background-color: #31bfa8;
}

.about__bottom {
  display: none;
}

.about__bottom._active-tab {
  display: block;
}

.about__sub-title {
  font-size: 20px;
  line-height: 100px;
  color: #3f3f3f;
  letter-spacing: 0.4px;
}

.about__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 53px;
}

.about__text {
  margin-bottom: 30px;
  line-height: 28px;
  color: #787d84;
  letter-spacing: 0.5px;
}

.about__text span {
  font-weight: bold;
}

.about__text .color-light {
  color: #14be9a;
}

.about__text .color-dark {
  color: #5a6067;
}

.about__text-left {
  width: 33%;
  margin-right: 20px;
  font-size: 16px;
}

.about__text-right {
  width: 56%;
  font-size: 14px;
  line-height: 25px;
  word-wrap: break-word;
}

.projects__bg {
  background: #070707;
}

.projects__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 38px 0;
  background-color: #1ba486;
  background-image: url("../images/projects/featured-bg.jpg");
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.projects__bottom-text {
  margin-right: 7%;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

.projects__bottom-text span {
  font-weight: bold;
}

.projects__bottom-btn {
  color: #fff;
  border: 1px solid #fff;
}

.projects__bottom-btn:hover {
  color: #23b691;
  background-color: #fff;
}

.accordion {
  width: 100%;
  max-width: 1366px;
  height: 319px;
  margin: 0 auto;
}

.accordion ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

.accordion li {
  width: 100%;
  height: 319px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: width 400ms ease;
  -o-transition: width 400ms ease;
  transition: width 400ms ease;
}

.accordion ul li div {
  position: relative;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 319px;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.accordion p {
  font-family: 'Source Sans Pro light', sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  letter-spacing: 2px;
  opacity: 1;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.accordion ul:hover li:hover .accordion__cross {
  display: block;
}

.accordion ul li {
  background-color: #34c0a5;
}

.accordion ul li:nth-child(1) {
  background-image: url("../images/projects/accord-0.jpg");
  background-size: cover;
}

.accordion ul li:nth-child(2) {
  background-image: url("../images/projects/accord-2.jpg");
  background-size: cover;
}

.accordion ul li:nth-child(3) {
  background-image: url("../images/projects/accord-1.jpg");
  background-size: cover;
}

.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0);
}

.impressed {
  position: relative;
  min-height: 392px;
  background-color: #1f1f21;
  background-image: url("../images/impressed/impressed-bg-1.1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.impressed::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
}

.impressed__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1210px;
  padding: 0 25px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.impressed__left {
  z-index: 1;
  max-width: 600px;
  margin-top: 80px;
  color: #aaabab;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.impressed__title {
  margin-top: 0;
  margin-bottom: 58px;
  color: #fff;
  text-align: left;
}

.impressed__text {
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 28px;
}

.impressed__author {
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.impressed__author-position {
  line-height: 25px;
  letter-spacing: 0.6px;
}

.impressed__author-position span {
  color: #1cbe95;
}

.impressed__right {
  position: relative;
  z-index: 1;
  width: 409px;
  height: 328px;
}

.impressed__right-text {
  position: absolute;
  color: #cdcdcd;
  cursor: default;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.impressed__right-text span {
  color: #139679;
}

.impressed__right-text--1 {
  top: 105px;
  left: 134px;
  width: 136px;
  height: 20px;
  font-family: 'Big John', sans-serif;
  font-size: 30px;
}

.impressed__right-text--h1 {
  left: 96px;
  width: 142px;
  height: 80px;
}

.impressed__right-text--h2 {
  right: 60px;
  width: 104px;
  height: 80px;
}

.impressed__right-h {
  top: 90px;
  font-family: 'Bebas Neue Regular', sans-serif;
  font-size: 26px;
  font-weight: 600;
  font-stretch: condensed;
  color: #fff;
  opacity: 0;
}

.impressed__img-block {
  position: absolute;
  top: -38px;
  width: 409px;
  height: 328px;
  background-image: url("../images/impressed/tv-0.png");
}

.impressed__img-block:hover .impressed__right-h {
  opacity: 10;
}

.impressed__img-block:hover .impressed__right-text--1 {
  opacity: 0;
}

.team__title {
  margin-top: 76px;
}

.team__text {
  margin: 0 auto 58px auto;
}

.team__slider {
  max-width: 998px;
  padding: 0 15px;
  margin: 0 auto 165px auto;
}

.slider-team {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}

.slider-team__hover {
  position: absolute;
  bottom: 8px;
  left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 269px;
  height: 348px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.slider-team__hover-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 11px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.slider-team__hover-social:last-child {
  margin-right: 0;
}

.slider-team__hover-social:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.slider-team__right-block {
  width: 366px;
  margin-right: 46px;
}

.slider-team__right-block::after {
  position: absolute;
  top: 37px;
  right: 0;
  display: block;
  width: 4px;
  height: 42px;
  content: '';
  background-color: #23b691;
}

.slider-team__title {
  margin-top: 38px;
  font-size: 20px;
  color: #2e353e;
}

.slider-team__rank {
  margin-bottom: 24px;
  font: italic 14px/25px 'Source Sans Pro light', sans-serif;
  color: #787d84;
}

.slider-team__text {
  color: #787d84;
}

.linear-progress {
  position: relative;
  margin-top: 35px;
  margin-left: 35px;
}

.linear-progress__title {
  position: absolute;
  top: -6px;
  font-family: 'Source Sans Pro light', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #116a6e;
}

.linear-progress__label {
  margin-bottom: 7px;
  color: #116a6e;
  text-align: right;
}

.linear-progress__bar {
  width: 330px;
  background-color: #e1e4eb;
}

.linear-progress__bar-line {
  height: 4px;
  background-color: #18bc99;
}

.linear-progress__bar-line-1 {
  width: 80%;
}

.linear-progress__bar-line-2 {
  width: 65%;
}

.linear-progress__bar-line-3 {
  width: 75%;
}

.linear-progress__bar-line-11 {
  width: 60%;
}

.linear-progress__bar-line-22 {
  width: 75%;
}

.linear-progress__bar-line-33 {
  width: 80%;
}

.linear-progress__bar-line-111 {
  width: 85%;
}

.linear-progress__bar-line-222 {
  width: 95%;
}

.linear-progress__bar-line-333 {
  width: 90%;
}

.team .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .slick-dots li {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.team .slick-dots li:last-child {
  margin-right: 0;
}

.team-dots {
  margin-top: 65px;
}

.team-dots__item {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 1px solid #23b691;
  border-radius: 50%;
}

.slick-active .team-dots__item {
  background-color: #23b691;
}

.already {
  height: 201px;
  background-color: #0a0a0a;
  background-image: url("../images/already/already-bg-3.jpg");
  background-position: center;
}

.already__container {
  width: 100%;
  text-align: center;
}

.already__title {
  margin-top: 52px;
  margin-bottom: 29px;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  letter-spacing: 0.4px;
}

.already__button {
  color: #fff;
  border: 1px solid #fff;
}

.already__button:hover {
  color: #2e353e;
  background-color: #fff;
}

.testimonials {
  min-height: 650px;
  background-color: #f1f1f1;
}

.testimonials__slider-inner {
  padding: 0 20px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 0 0 #e4e4e4;
          box-shadow: 1px 1px 0 0 #e4e4e4;
}

.testimonials__slider {
  display: block;
  min-height: 316px;
  padding-bottom: 60px;
  margin: 0 auto;
  background-color: #fff;
}

.slider-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 147px;
}

.slider-testimonials__left {
  margin-top: 52px;
  margin-right: 70px;
}

.slider-testimonials__left img {
  border-radius: 50%;
}

.slider-testimonials__right {
  width: 100%;
  max-width: 755px;
  margin-bottom: 50px;
}

.slider-testimonials__text {
  max-width: 755px;
  margin-top: 52px;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 28px;
  color: #787d84;
}

.slider-testimonials__name {
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #26b49d;
}

.slider-testimonials__rank {
  line-height: 20px;
  color: #2e353e;
}

.testimonials .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .slick-dots li {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.testimonials .slick-dots li:last-child {
  margin-right: 0;
}

.testimonials-dots__item {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 1px solid #23b691;
  border-radius: 50%;
}

.slick-active .testimonials-dots__item {
  background-color: #23b691;
}

.blog {
  background-color: #181818;
  background-image: url("../images/blog/blog-bg-0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blog__container {
  max-width: 1230px;
  padding: 0 40px;
}

.blog__title {
  color: #fff;
  text-align: left;
}

.blog__text {
  padding-left: 0;
  margin: 0 auto 98px 0;
  color: #aaabab;
  text-align: left;
}

.blog__slider {
  position: relative;
  padding: 0 50px 0 50px;
  margin-bottom: 104px;
}

.slider-item {
  padding: 0 3px;
}

.item-slider__title {
  margin-bottom: 13px;
  font-size: 20px;
  line-height: 20px;
  color: #dde1e6;
  letter-spacing: 0.4px;
}

.item-slider__name {
  margin-bottom: 17px;
  font: italic 'Source Sans Pro light', sans-serif;
  color: #23b691;
}

.item-slider__stats {
  margin-bottom: 52px;
  font-family: 'Source Sans Pro light', sans-serif;
  color: #3f3f3f;
  letter-spacing: 1px;
}

.item-slider__text {
  max-width: 582px;
  margin-bottom: 46px;
  line-height: 25px;
  color: #787d84;
  letter-spacing: 0.5px;
}

.item-slider__link {
  display: inline-block;
  width: 100px;
  font-size: 16px;
  color: #aaabab;
}

.item-slider__link:hover {
  color: #dde1e6;
}

.blog .slick-dots {
  position: absolute;
  top: 50px;
  right: -10px;
  display: block;
}

.blog .slick-dots li {
  margin-bottom: 10px;
}

.blog .slick-dots li:last-child {
  margin-bottom: 0;
}

.blog-dots__item {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 1px solid #aaabab;
  border-radius: 50%;
}

.slick-active .blog-dots__item {
  background-color: #aaabab;
}

.price {
  min-height: 638px;
  background-color: #f1f1f1;
}

.price__container {
  max-width: 857px;
  padding: 0 13px;
}

.price__title {
  margin-top: 76px;
}

.price__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 234px;
  height: 302px;
}

.front-item,
.back-item {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 0 0 #e4e4e4;
          box-shadow: 1px 1px 0 0 #e4e4e4;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.front-item {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.front-item__top {
  height: 67px;
  background-color: #19bd9a;
}

.front-item__top-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 67px;
  color: #fff;
  text-align: center;
}

.front-item__cost {
  margin-top: 70px;
  font-family: 'Source Sans Pro Black', sans-serif;
  font-size: 42px;
  color: #26b49d;
  text-align: center;
}

.front-item__text {
  font-size: 20px;
  line-height: 28px;
  color: #787d84;
  text-align: center;
}

.back-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 24px;
  background-color: #fff;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.back-item__text-inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.back-item__text {
  margin-left: 32px;
  line-height: 31px;
  color: #787d84;
}

.back-item__bottom-link {
  position: relative;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 67px;
  padding: 0 70px;
  font-size: 16px;
  line-height: 67px;
  color: #fff;
  background-color: #19bd9a;
}

.back-item__bottom-link:hover {
  background-color: #2aceab;
}

.back-item__bottom-link::after {
  position: absolute;
  top: 1px;
  right: 70px;
  content: url("../../images/price/back-item-bottom-link-arrow.svg");
}

.subscribe {
  max-height: 378px;
  color: #fff;
  background-color: #0b0b0b;
  background-image: url("../images/subscribe/subscribe-bg.jpg");
  background-position: center;
}

.subscribe__title {
  margin-top: 82px;
  color: #fff;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 522px;
  margin: 0 auto 100px auto;
}

.subscribe__email-inner {
  position: relative;
}

.subscribe__email {
  width: 358px;
  height: 41px;
  padding-left: 22px;
  font-size: 14px;
  color: #dde1e6;
  background-color: transparent;
  border: 1px solid #23b691;
}

.subscribe__email::-webkit-input-placeholder {
  color: #dde1e6;
  opacity: 1;
}

.subscribe__email::-moz-placeholder {
  color: #dde1e6;
  opacity: 1;
}

.subscribe__email:-ms-input-placeholder {
  color: #dde1e6;
  opacity: 1;
}

.subscribe__email::-ms-input-placeholder {
  color: #dde1e6;
  opacity: 1;
}

.subscribe__email::placeholder {
  color: #dde1e6;
  opacity: 1;
}

.subscribe__email:focus {
  outline: 1px solid #aaabab;
}

.subscribe__submit {
  min-width: 151px;
  line-height: 41px;
  color: #fff;
  cursor: pointer;
  background-color: #23b691;
}

.subscribe__submit:hover {
  background-color: #2aceab;
}

.contact {
  background-color: #f1f1f1;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 979px;
  margin: 0 auto 62px auto;
}

.contact__inner-item {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 0 0 #e4e4e4;
          box-shadow: 1px 1px 0 0 #e4e4e4;
}

.item-inner {
  max-width: 287px;
  padding-bottom: 28px;
  margin: 0 19px 38px 19px;
  text-align: center;
}

.item-inner__image-block {
  position: relative;
  width: 287px;
  height: 145px;
  overflow: hidden;
}

.item-inner__image-block ~ a {
  line-height: 20px;
}

.item-inner a {
  display: block;
  margin: 0 auto;
  color: #787d84;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.item-inner a:hover {
  color: #2e353e;
  text-decoration: underline;
}

.item-inner__image-bg {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-inner__image-icon {
  position: absolute;
  top: 48px;
  left: 118px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.item-inner__title {
  margin-top: 28px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #2e353e;
  letter-spacing: 0.7px;
}

.item-inner__address {
  max-width: 230px;
}

.item-inner__phone {
  max-width: 134px;
}

.form-section {
  max-height: 552px;
  background-color: #fff;
}

.form-section__container {
  max-width: 981px;
  padding: 0 20px;
}

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 29px;
}

.form__inner-item {
  width: 100%;
  max-width: 287px;
  height: 41px;
  padding-left: 20px;
  margin-right: 15px;
  font-size: 14px;
  line-height: 41px;
  color: #2e353e;
  border: 1px solid #d3d8dc;
}

.form__inner-item:last-child {
  margin-right: 0;
}

.form__inner-item:focus {
  outline: 1px solid #aaabab;
}

.form__textarea {
  width: 100%;
  height: 190px;
  padding: 15px;
  margin-bottom: 30px;
  color: #2e353e;
  resize: none;
  border: 1px solid #d3d8dc;
}

.form__textarea:focus {
  outline: 1px solid #aaabab;
}

.form__submit {
  display: block;
  width: 100%;
  margin-bottom: 129px;
  font-size: 16px;
  line-height: 53px;
  color: #fff;
  cursor: pointer;
  background-color: #23b691;
}

.form__submit:hover {
  background-color: #2aceab;
}

.map {
  position: relative;
  height: 496px;
  background-image: url("../images/map/map-bg.jpg");
  background-position: center;
}

.overlay-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay-map__inner {
  position: relative;
}

.overlay-map__button-1 {
  margin-right: 13px;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
}

.overlay-map__button-1:hover ~ .overlay-map__button--2 {
  background-color: #2aceab;
  -webkit-animation: none;
          animation: none;
}

.overlay-map__button-2 {
  position: absolute;
  top: 4px;
  width: 18px;
  height: 18px;
  background-color: #23b691;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease 0s;
  -o-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
  -webkit-animation: move 0.7s infinite linear;
          animation: move 0.7s infinite linear;
}

.overlay-map__button-2:hover {
  background-color: #2aceab;
  -webkit-animation: none;
          animation: none;
}

.overlay-map__button-2 img {
  z-index: 1;
  display: block;
  width: 18px;
  height: 18px;
}

._overlay-hide {
  display: none;
}

.footer {
  background-color: #f1f1f1;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 290px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__logo {
  margin-bottom: 24px;
  font-family: 'Big John', sans-serif;
  font-size: 25px;
  line-height: 12px;
}

.footer__logo-link {
  color: #2e353e;
}

.footer__text {
  margin-bottom: 32px;
  line-height: 25px;
  color: #787d84;
  letter-spacing: 0.7px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.footer__social-link:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.footer__social-link:last-child {
  margin-right: 0;
}

.footer__social-link--fb {
  background-color: #36518d;
}

.footer__social-link--twi {
  background-color: #2a9eca;
}

.footer__social-link--din {
  background-color: #176d9e;
}

.footer__social-link--ins {
  background-color: #3a6991;
}

.footer__social-link--vim {
  background-color: #7ec3eb;
}

@media (min-width: 767.99px) {
  .header__menu-link:hover {
    padding: 5px 21px;
    margin: 0 -4px;
    border: 1px solid #fff;
    border-radius: 24px;
  }

  .content-intro__title {
    font-size: 40px;
  }

  .accordion a {
    background: rgba(0, 0, 0, 0.8);
  }

  .slider-team__left-block:hover .slider-team__hover {
    opacity: 1;
  }

  .price__item:hover > .front-item {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }

  .price__item:hover > .back-item {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }

  .item-inner__image-bg:hover .item-inner__image-icon {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .item-inner__image-icon:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media screen and (min-width: 767.99px) {
  .accordion__cross {
    position: relative;
    display: none;
  }

  .accordion__cross::after,
  .accordion__cross::before {
    position: absolute;
    content: '';
    background-color: #fff;
  }

  .accordion__cross::after {
    top: 0;
    left: -17px;
    width: 35px;
    height: 1px;
  }

  .accordion__cross::before {
    top: -15px;
    left: 0;
    width: 1px;
    height: 35px;
  }

  .accordion ul li:hover {
    width: 200%;
  }

  .accordion ul:hover li:hover > div a p {
    display: none;
  }
}

@media (min-width: 1182px) {
  .content-intro__title {
    margin-bottom: 19px;
    font-size: 44px;
  }

  .content-intro__text {
    max-width: 623px;
    font-size: 18px;
  }
}

@media (max-width: 1338px) {
  .blog .slick-dots {
    right: 30px;
  }
}

@media (max-width: 1200px) {
  .header__logo {
    margin-left: 17px;
  }
}

@media (max-width: 1182px) {
  .intro {
    min-height: auto;
  }

  .body-intro__content {
    height: 486px;
  }

  .form__submit {
    margin-bottom: 80px;
  }
}

@media (max-width: 1180px) {
  .team__slider {
    margin-bottom: 124px;
  }
}

@media (max-width: 1110px) {
  .about__bottom-inner {
    margin-bottom: 27px;
  }

  .impressed {
    background-image: url("../images/impressed/impressed-bg-2.2.jpg");
  }

  .impressed {
    background-position: top;
  }

  .impressed__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .impressed__left {
    width: 100%;
    margin: 64px auto 40px auto;
    text-align: center;
  }

  .impressed__title {
    text-align: center;
  }

  .impressed__right {
    margin: 0 auto 50px auto;
  }

  .impressed__img-block {
    top: 0;
  }
}

@media (max-width: 991px) {
  .item-inner {
    margin-bottom: 20px;
  }

  .item-inner:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 990px) {
  .projects__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0 36px 0;
  }

  .projects__bottom-text {
    width: 100%;
    padding: 0 20px;
    margin: 0 0 20px 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .body-intro__button {
    -webkit-animation: none;
            animation: none;
  }
}

@media (max-width: 767.99px) {
  .scroll-up {
    display: none;
  }

  .article-title {
    display: none;
  }

  .header {
    position: fixed;
    z-index: 20;
  }

  .header__container {
    height: 64px;
    background-color: rgba(47, 53, 63, 0.9);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

  .header__menu {
    margin-top: 23px;
  }

  .header__menu-list {
    display: none;
  }

  .header__menu-body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 170px;
    height: 100%;
    padding: 70px 10px 20px 10px;
    background-color: #2e353e;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }

  .header__logo a {
    display: block;
    line-height: 64px;
  }

  .header__logo {
    margin-top: 0;
    line-height: 64px;
  }

  .menu__burger {
    position: relative;
    top: 1px;
    right: 20px;
    z-index: 15;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__burger span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__burger span:first-child {
    top: 0;
  }

  .menu__burger span:last-child {
    top: auto;
    bottom: 0;
  }

  .menu__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__burger._active span:first-child {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu__burger._active span:last-child {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .body-intro__content {
    height: 480px;
    margin-top: 50px;
  }

  .body-intro__button {
    display: none;
  }

  .content-intro__title {
    width: 100%;
    max-width: 488px;
  }

  .content-intro__text {
    width: 100%;
    padding: 0 13px;
    font-size: 15px;
  }

  .hello__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    margin-bottom: 15px;
  }

  .hello__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    max-width: 600px;
    margin: 10px auto 0;
  }

  .hello__info-title {
    margin-bottom: 30px;
    text-align: center;
  }

  .hello__info-text {
    text-align: center;
  }

  .hello__info-btn {
    display: block;
    margin: 0 auto;
  }

  .hello__image-block {
    margin-top: 40px;
  }

  .about__top-title {
    margin-top: 50px;
    margin-bottom: 22px;
  }

  .about__top-text {
    margin-bottom: 25px;
  }

  .about__sub-title {
    text-align: center;
  }

  .about__bottom-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }

  .about__text {
    padding: 0 20px;
    text-align: center;
  }

  .about__text-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 25px;
  }

  .about__text-right {
    width: 100%;
  }

  .projects__title {
    margin-top: 50px;
  }

  .projects__text {
    margin-bottom: 46px;
  }

  .accordion ul {
    overflow: hidden;
  }

  .accordion ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .accordion a {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 250px;
  }

  .accordion p {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 0;
    color: #dde1e6;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .accordion ul li {
    height: 250px;
  }

  .impressed__left {
    margin-top: 0;
  }

  .impressed__title {
    margin-top: 50px;
    margin-bottom: 36px;
  }

  .team__title {
    margin-top: 50px;
  }

  .slider-team__hover {
    height: 45px;
    opacity: 1;
  }

  .slider-team__right-block::after {
    display: none;
  }

  .slider-team__text {
    line-height: 20px;
  }

  .testimonials__title {
    margin-top: 50px;
  }

  .slider-testimonials__right {
    margin-bottom: 8px;
  }

  .slider-testimonials__rank {
    margin-bottom: 38px;
  }

  .blog__container {
    padding: 0 20px 0 20px;
  }

  .blog__title {
    margin-top: 52px;
    text-align: center;
  }

  .blog__text {
    margin-bottom: 50px;
    margin-left: auto;
    text-align: center;
  }

  .blog__slider {
    padding: 0 30px 0 30px;
    margin-bottom: 23px;
  }

  .item-slider__stats {
    margin-bottom: 30px;
  }

  .item-slider__text {
    margin-bottom: 30px;
  }

  .blog .slick-dots {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 23px;
  }

  .blog .slick-dots li {
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }

  .blog .slick-dots li:last-child {
    margin-right: 0;
  }

  .price__title {
    margin-top: 50px;
  }

  .price__text {
    margin-bottom: 44px;
  }

  .price__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }

  .price__item {
    width: 100%;
    height: auto;
    margin-bottom: 13px;
    -webkit-box-shadow: 1px 1px 0 0 #e4e4e4;
            box-shadow: 1px 1px 0 0 #e4e4e4;
  }

  .front-item,
  .back-item {
    position: static;
    width: 100%;
    height: auto;
    overflow: visible;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .front-item {
    width: 80%;
  }

  .front-item__top {
    height: 0;
  }

  .front-item__top-title {
    margin-top: 38px;
    line-height: 20px;
    color: #787d84;
    background-color: #fff;
  }

  .front-item__cost {
    margin-top: 28px;
    font-size: 30px;
  }

  .back-item {
    padding-top: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .back-item__text-inner {
    padding-top: 15px;
  }

  .back-item__text {
    margin: 0 0 13px 0;
    line-height: 16px;
    text-align: center;
  }

  .back-item__bottom-link {
    width: 134px;
    height: auto;
    padding: 11px 28px 11px 28px;
    margin: 6px auto 15px auto;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    background-color: #19bd9a;
    border: 1px solid #19bd9a;
    border-radius: 20px;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .back-item__bottom-link:hover {
    color: #787d84;
    background-color: #fff;
    border: 1px solid #787d84;
  }

  .back-item__bottom-link::after {
    display: none;
  }

  .subscribe__title {
    margin-top: 48px;
  }

  .subscribe__text {
    margin-bottom: 42px;
  }

  .subscribe__form {
    margin-bottom: 48px;
  }

  .contact__title {
    margin-top: 48px;
  }

  .contact__text {
    margin-bottom: 36px;
  }

  .contact__inner {
    margin-bottom: 44px;
  }

  .form-section__container {
    max-width: 564px;
  }

  .form__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 42px;
    margin-bottom: 0;
  }

  .form__inner-item {
    max-width: none;
    margin-bottom: 15px;
  }

  .form__textarea {
    max-width: 522px;
    margin-bottom: 15px;
  }

  .form__submit {
    max-width: 522px;
    margin-bottom: 42px;
  }

  .footer__container {
    height: 230px;
  }

  .footer__text {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 767.99px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }

  .accordion ul li {
    width: 100%;
  }
}

@media (max-width: 767.99px) and (max-width: 480px) {
  .blog .slick-dots li {
    margin-right: 14px;
  }
}

@media (max-width: 720px) {
  .team__text {
    margin-bottom: 4px;
  }

  .team__slider {
    margin-bottom: 80px;
  }

  .slider-team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1px;
    text-align: center;
  }

  .slider-team__left-block {
    width: 285px;
    margin: 0 auto;
  }

  .slider-team__hover {
    position: static;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .slider-team__right-block {
    margin: 0 auto 0 auto;
  }

  .linear-progress {
    margin-left: 0;
  }

  .team-dots {
    margin-top: 41px;
  }
}

@media (max-width: 580px) {
  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 20px;
  }

  .subscribe__email-inner {
    display: block;
    width: 100%;
    max-width: 580px;
    margin: 0 auto 15px auto;
  }

  .subscribe__email {
    width: 100%;
  }

  .subscribe__submit {
    display: block;
    width: 100%;
    max-width: 556px;
    margin: 0 auto 44px auto;
  }
}

@media (max-width: 480px) {
  .body-intro__content {
    height: 350px;
  }

  .content-intro__title {
    padding: 0 20px;
    margin: 20px 0 10px 0;
    font-size: 30px;
    line-height: 40px;
  }

  .content-intro__text {
    font-size: inherit;
  }

  .hello {
    min-height: 366px;
  }

  .hello__container {
    margin-top: 0;
  }

  .hello__info-title {
    margin-top: 32px;
  }

  .hello__info-btn {
    margin-bottom: 25px;
  }

  .hello__image-block {
    display: none;
  }

  .about__top-title {
    margin-top: 35px;
    line-height: 28px;
  }

  .about__sub-title {
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 20px;
  }

  .about__bottom-inner {
    margin-bottom: 5px;
  }

  .about__text-left {
    margin-bottom: 15px;
  }

  .projects__title {
    margin-top: 42px;
  }

  .projects__text {
    margin-bottom: 34px;
  }

  .impressed {
    min-height: 104px;
    max-height: 392px;
  }

  .impressed__left {
    margin-top: 0;
  }

  .impressed__title {
    margin-top: 42px;
    margin-bottom: 31px;
  }

  .impressed__right {
    display: none;
  }

  .team__title {
    margin-top: 42px;
    margin-bottom: 30px;
  }

  .team__slider {
    margin-bottom: 68px;
  }

  .slider-team__title {
    margin-top: 25px;
  }

  .team .slick-dots li {
    margin-right: 14px;
  }

  .team-dots {
    margin-top: 34px;
  }

  .already {
    height: 100%;
  }

  .already__title {
    margin-top: 35px;
  }

  .already__button {
    margin-bottom: 42px;
  }

  .testimonials__title {
    margin-top: 42px;
    margin-bottom: 30px;
  }

  .testimonials__text {
    margin-bottom: 30px;
  }

  .testimonials__slider {
    padding-bottom: 28px;
  }

  .slider-testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .slider-testimonials__left {
    margin-top: 33px;
    margin-right: 0;
  }

  .slider-testimonials__left {
    margin-bottom: 25px;
  }

  .slider-testimonials__right {
    margin-bottom: 0;
    text-align: center;
  }

  .slider-testimonials__text {
    margin: 0 0 15px 0;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.6px;
  }

  .slider-testimonials__rank {
    margin-bottom: 25px;
  }

  .testimonials .slick-dots li {
    margin-right: 14px;
  }

  .blog__title {
    margin-top: 46px;
  }

  .blog__text {
    margin-bottom: 34px;
  }

  .blog__slider {
    padding: 0;
  }

  .item-slider__name {
    margin-bottom: 13px;
  }

  .price__title {
    margin-top: 42px;
    margin-bottom: 34px;
  }

  .price__text {
    margin-bottom: 34px;
  }

  .subscribe__title {
    margin-top: 42px;
  }

  .contact__title {
    margin-top: 42px;
  }

  .form__textarea {
    height: 100px;
  }

  .form__submit {
    font-size: 14px;
    line-height: 41px;
  }

  .map {
    height: 350px;
  }

  .footer__container {
    height: 160px;
    margin-bottom: 10px;
  }

  .footer__logo {
    display: none;
  }

  .footer__text {
    margin-bottom: 12px;
  }
}

@media (max-width: 470px) {
  .impressed__left {
    margin-bottom: 36px;
  }
}

@media (max-width: 420px) {
  .slider-team__right-block {
    width: 100%;
    max-width: 366px;
  }

  .linear-progress__bar {
    max-width: 330px;
  }
}

@media (max-width: 412px) {
  .subscribe__email {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .linear-progress__bar {
    max-width: 280px;
  }
}

@media (max-width: 355px) {
  .slider-team__left-block {
    width: 100%;
  }

  .slider-team__left-block > img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 335px) {
  .linear-progress__bar {
    max-width: 260px;
  }
}