@font-face {
  font-family: "Big John";
  font-display: swap;
  src: url("../fonts/Big John.woff") format("woff"), url("../fonts/Big John.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Bold";
  font-display: swap;
  src: url("../fonts/Open Sans_bold.woff") format("woff"), url("../fonts/Open Sans_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Light";
  font-display: swap;
  src: url("../fonts/Roboto Light.woff") format("woff"), url("../fonts/Roboto Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro light";
  font-display: swap;
  src: url("../fonts/Source Sans Pro light.woff") format("woff"), url("../fonts/Source Sans Pro light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

td,
td,
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  position: relative;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

._overlay::after {
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(15, 15, 15, 0.6);
}

._btn {
  background: none;
  font-size: 16px;
  line-height: 12px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  border: 1px solid #2E353E;
  border-radius: 20px;
  padding: 12px 29px 12px 29px;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
}

.header__container {
  height: 113px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu-body._active {
  top: 0;
}

.header__menu-body._active .header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-body._active .header__menu-link {
  margin: 0;
}

.header__menu-body._active .header__menu-list li {
  position: relative;
  margin: 15px 0;
}

.header__menu-body._active .header__menu-link::after {
  content: '';
  width: 0;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.header__menu-body._active .header__menu-link:hover::after {
  width: 100%;
}

.header__logo {
  font-family: 'Big John';
  font-size: 25px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo-link {
  color: #ffffff;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-link {
  margin: 0 18px;
  font-size: 16px;
  line-height: 12px;
  color: #ffffff;
}

.menu__burger {
  display: none;
}

.intro {
  min-height: 100vh;
  position: relative;
  background-color: #534e47;
  background: url("../images/header/intro-bg.jpg") 0 0 no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.intro::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(28, 27, 27, 0.4);
}

.intro__body {
  position: relative;
  z-index: 1;
}

.body-intro__content {
  height: calc(100vh - 225px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 113px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.body-intro__button {
  text-align: center;
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 auto 76px auto;
  border-radius: 50%;
  background-color: #23B691;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
  -webkit-animation: move 0.7s infinite linear;
          animation: move 0.7s infinite linear;
}

.body-intro__button img {
  margin-top: 2px;
}

.body-intro__button:hover {
  background-color: #AAABAB;
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes move {
  20% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }

  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@keyframes move {
  20% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }

  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

.content-intro__title {
  font-family: 'Source Sans Pro light';
  font-size: 35px;
  line-height: 70px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 7px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.content-intro__text {
  max-width: 603px;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.about {
  background-color: #fff;
  width: 100%;
}

.about__container {
  min-height: 487px;
  max-width: 833px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 495px;
          flex: 0 0 495px;
  margin-right: 15px;
}

.about__info-title {
  font-size: 21px;
  line-height: 12px;
  font-family: 'Source Sans Pro light';
  color: #2E353E;
  letter-spacing: 3.8px;
  margin-bottom: 44px;
}

.about__info-text {
  line-height: 25px;
  color: #787D84;
  letter-spacing: 0.5px;
  margin-bottom: 29px;
}

.about__info-btn:hover {
  color: #fff;
  background-color: #2E353E;
}

.footer {
  background-color: #F1F1F1;
}

.footer__container {
  height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo {
  margin-bottom: 24px;
  font-family: 'Big John';
  font-size: 25px;
  line-height: 12px;
}

.footer__logo-link {
  color: #2E353E;
}

.footer__text {
  margin-bottom: 32px;
  color: #787D84;
  line-height: 25px;
  letter-spacing: 0.7px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.footer__social-link:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer__social-link:last-child {
  margin-right: 0;
}

.footer__social-link--fb {
  background-color: #36518d;
}

.footer__social-link--twi {
  background-color: #2a9eca;
}

.footer__social-link--din {
  background-color: #176d9e;
}

.footer__social-link--ins {
  background-color: #3a6991;
}

.footer__social-link--vim {
  background-color: #7ec3eb;
}

@media (min-width: 767.98px) {
  .header__menu-link:hover {
    border: 1px solid #fff;
    border-radius: 24px;
    padding: 5px 21px;
    margin: 0 -4px;
  }

  .content-intro__title {
    font-size: 40px;
  }
}

@media (min-width: 1182px) {
  .content-intro__title {
    font-size: 44px;
    margin-bottom: 19px;
  }

  .content-intro__text {
    font-size: 18px;
    width: 623px;
  }
}

@media (max-width: 1200px) {
  .header__logo {
    margin-left: 12px;
    margin-bottom: 6px;
  }
}

@media (max-width: 1182px) {
  .intro {
    min-height: auto;
  }

  .body-intro__content {
    height: 486px;
  }
}

@media (max-width: 767.98px) {
  .header {
    position: fixed;
    z-index: 20;
  }

  .header__container {
    height: 80px;
    background-color: rgba(47, 53, 63, 0.9);
  }

  .header__menu-body {
    -webkit-transition: top .3s ease 0s;
    transition: top .3s ease 0s;
    position: fixed;
    top: -100%;
    left: 0;
    width: 170px;
    height: 100%;
    background-color: #2E353E;
    padding: 70px 10px 20px 10px;
  }

  .header__menu-list {
    display: none;
  }

  .header__menu-list li:last-child {
    margin-right: 4px;
  }

  .menu__burger {
    display: block;
    position: relative;
    top: 1px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 15;
  }

  .menu__burger span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .menu__burger span:first-child {
    top: 0;
  }

  .menu__burger span:last-child {
    top: auto;
    bottom: 0;
  }

  .menu__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .menu__burger.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu__burger.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .body-intro__content {
    margin-top: 30px;
    height: 590px;
  }

  .body-intro__button {
    -webkit-animation: none;
            animation: none;
    display: none;
  }

  .content-intro__text {
    padding: 0 13px;
    font-size: 15px;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
    margin-top: 40px;
  }

  .about__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-bottom: 30px;
    max-width: 600px;
    margin-right: 0;
  }

  .about__info-title {
    text-align: center;
    margin-bottom: 30px;
  }

  .about__info-btn {
    display: block;
    margin: 0 auto;
  }

  .footer__container {
    height: 230px;
  }

  .footer__text {
    margin-bottom: 18px;
  }
}

@media (max-width: 479.98px) {
  .header__container {
    height: 55px;
  }

  .body-intro__content {
    height: 380px;
  }

  .content-intro__title {
    font-size: 30px;
  }

  .content-intro__text {
    font-size: inherit;
  }

  .footer__container {
    height: 140px;
  }

  .footer__logo {
    display: none;
  }

  .footer__text {
    margin-bottom: 12px;
  }
}