.about {
  background-color: $smoky-white;
  min-height: 618px;
  &__container {
    max-width: 1005px;
    padding: 0 20px;
    @media (max-width: $md+px) {
    }
  }
  &__top-inner {
    max-width: 457px;
    margin: 0 auto;
    text-align: center;
    margin-top: 76px;
    @media (max-width: $md+px) {
      margin-top: 50px;
    }
    @media (max-width: $sm+px) {
      margin-top: 40px;
    }
  }
  &__top-title {
    font-family: 'Source Sans Pro light';
    font-size: 21px;
    line-height: 12px;
    color: $granite-gray;
    letter-spacing: 3.8px;
    margin-bottom: 38px;
    @media (max-width: $sm+px) {
      line-height: 28px;
      margin-bottom: 22px;
    }
  }
  &__top-text {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: $gray-squirrel;
    margin-bottom: 55px;
  }
  &__icons-inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 213px;
  }
  &__icon-item {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #7B7F88;
    cursor: pointer;
    &:first-child {
      padding-left: 11px;
      padding-top: 12px;
    }
    &:nth-child(2) {
      padding-left: 11px;
      padding-top: 9px;
    }
    &:last-child {
      padding-left: 11px;
      padding-top: 10px;
    }
    img {
      display: block;
    }
    &:hover {
      background-color: #a1a5ae;
    }
  }
  &__icon-item._active-tab{
    background-color: #31BFA8;
  }
  &__bottom {
    display: none;
  }
  &__bottom._active-tab {
    display: block;
  }
  &__sub-title {
    font-size: 20px;
    line-height: 100px;
    letter-spacing: 0.4px;
    color: $gray-brown;
    @media (max-width: $md+px) {
      text-align: center;
    }
  }
  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: $md+px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__text {
    line-height: 28px;
    letter-spacing: 0.5px;
    color: $gray-squirrel;
    margin-bottom: 30px;
    @media (max-width: $md+px) {
      padding: 0 20px;
      text-align: center;
    }
    span {
      font-weight: bold;
    }
    .color-light {
      color: #14be9a;
    }
    .color-dark {
      color: #5a6067;
    }
  }
  &__text-left {
    font-size: 16px;
    width: 33%;
    margin-right: 20px;
    @media (max-width: $md+px) {
      margin-right: 0;
      margin-bottom: 30px;
      width: 100%;
    }
  }
  &__text-right {
    font-size: 14px;
    line-height: 25px;
    width: 56%;
    word-wrap: break-word;
    @media (max-width: $md+px) {
      width: 100%;
    }
  }
}

