.about {
  background-color: $smoky-white;

  &__container {
    max-width: 1005px;
    padding: 0 20px;
  }

  &__top-inner {
    max-width: 500px;
    margin: 0 auto;
  }

  &__top-title {
    // margin-bottom: 38px;

    @media (max-width: $md+px) {
      margin-top: 50px;
      margin-bottom: 22px;
    }

    @media (max-width: $sm+px) {
      margin-top: 35px;
      line-height: 28px;
    }
  }

  &__top-text {
    // margin-bottom: 55px;
    // letter-spacing: 0.5px;

    @media (max-width: $md+px) {
      margin-bottom: 25px;
    }
  }

  &__icons-inner {
    display: flex;
    justify-content: space-between;
    width: 213px;
    margin: 0 auto;
  }

  &__icon-item {
    &:first-child {
      padding: 12px 11px;
    }

    &:nth-child(2) {
      padding: 9px 11px;
    }

    &:last-child {
      padding: 10px 11px;
    }

    img {
      display: block;
    }
  }
}

.bottom-about {
  display: none;

  &._active-tab {
    display: block;
  }

  &__sub-title {
    line-height: 100px;

    @media (max-width: $md+px) {
      text-align: center;
    }

    @media (max-width: $sm+px) {
      margin-top: 30px;
      margin-bottom: 25px;
      line-height: 20px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;

    @media (max-width: 1110px) {
      margin-bottom: 27px;
    }

    @media (max-width: $md+px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }

    @media (max-width: $sm+px) {
      margin-bottom: 5px;
    }
  }

  &__text {
    margin-bottom: 30px;

    @media (max-width: $md+px) {
      padding: 0 20px;
      text-align: center;
    }
  }

  &__text-left {
    width: 33%;
    margin-right: 20px;

    @media (max-width: $md+px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 25px;
    }

    @media (max-width: $sm+px) {
      margin-bottom: 15px;
    }
  }

  &__text-right {
    width: 56%;
    word-wrap: break-word;

    @media (max-width: $md+px) {
      width: 100%;
    }
  }
}
