.already {
  background-color: #0a0a0a;
  background-image: url('../images/already-bg-3.jpg');
  background-position: center;

  &__container {
    width: 100%;
    padding-top: 52px;
    padding-bottom: 52px;
    text-align: center;

    @media (max-width: $sm+px) {
      padding-top: 35px;
      padding-bottom: 42px;
    }
  }

  &__title {
    margin-bottom: 29px;
    font-size: 1.43rem;
    line-height: 1.78rem;
    color: #fff;
    letter-spacing: 0.4px;
  }

  &__button {
    color: #fff;
    border: 1px solid #fff;

    &:hover {
      color: $granite-gray;
      background-color: #fff;
    }
  }
}
