.already {
  height: 201px;
  background-color: #0a0a0a;
  background-image: url('../images/already/already-bg-3.jpg');
  background-position: center;

  @media (max-width: $sm+px) {
    height: 100%;
  }

  &__container {
    width: 100%;
    text-align: center;
  }

  &__title {
    margin-top: 52px;
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    letter-spacing: 0.4px;

    @media (max-width: $sm+px) {
      margin-top: 35px;
    }
  }

  &__button {
    color: #fff;
    border: 1px solid #fff;

    &:hover {
      color: $granite-gray;
      background-color: #fff;
    }

    @media (max-width: $sm+px) {
      margin-bottom: 42px;
    }
  }
}
