.already {
  background-color: #0A0A0A;
  background-image: url('../images/already/already-bg-3.jpg');
  background-position: center;
  height: 201px;
  @media (max-width: $sm+px) {
    height: 100%;
  }
  &__container {
    text-align: center;
    width: 100%;
  }
  &__title {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.4px;
    color: #ffffff;
    margin-top: 52px;
    margin-bottom: 29px;
    @media (max-width: $sm+px) {
      margin-top: 35px;
    }
  }
  &__button {
    color: #ffffff;
    border: 1px solid #fff;
    &:hover{
      background-color: #fff;
      color: $granite-gray;
    }
    @media (max-width: $sm+px) {
      margin-bottom: 42px;
    }
  }
}
