.form-section {
  max-height: 552px;
  background-color: #fff;
  @media (max-width: $md+px) {
    // min-height: 522px;
  }
  &__container {
    max-width: 981px;
    padding: 0 20px;
    @media (max-width: $md+px) {
      max-width: 564px;
    }
  }
  &__form {
  }
}
._container {
}
.form {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 29px;

    @media (max-width: $md+px) {
      flex-direction: column;
      margin-top: 42px;
      margin-bottom: 0;
    }
  }
  &__inner-item{
    border: 1px solid #D3D8DC;
    font-size: 14px;
    max-width: 287px;
    width: 100%;
    line-height: 41px;
    height: 41px;
    padding-left: 20px;
    margin-right: 15px;
    color: $granite-gray;
    &:last-child{
      margin-right: 0;
    }
    @media (max-width: $md+px) {
      margin-bottom: 15px;
      // max-width: 522px;
      max-width: none;
    }
  }
  &__inner-name {
  }
  &__inner-email {
  }
  &__inner-subject {
  }
  &__textarea {
    border: 1px solid #D3D8DC;
    width: 100%;
    margin-bottom: 30px;
    height: 190px;
    resize: none;
    padding: 15px;
    color: $granite-gray;
    @media (max-width: $md+px) {
      max-width: 522px;
      margin-bottom: 15px;
    }
    @media (max-width: $sm+px) {
      height: 100px;
    }
  }
  &__submit {
    background-color: $crayola-green-jungle;
    font-size: 16px;
    color: #ffffff;
    display: block;
    cursor: pointer;
    width: 100%;
    // height: 53px;
    line-height: 53px;
    margin-bottom: 129px;
    &:hover{
      background-color: $turquoise;
    }
    @media (max-width: $xl+px) {
      margin-bottom: 80px;
    }
    @media (max-width: $md+px) {
      max-width: 522px;
      margin-bottom: 42px;
    }
    @media (max-width: $sm+px) {
      font-size: 14px;
      line-height: 41px;
    }
  }
}
