.impressed {
  position: relative;
  min-height: 392px;
  background-color: #1f1f21;
  background-image: url('../images/impressed-bg-1.1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: $xl+px) {
    background-image: url('../images/impressed-bg-2.2.jpg');
  }

  @media (max-width: $xl+px) {
    background-position: top;
  }

  @media (max-width: $sm+px) {
    min-height: 104px;
    max-height: 392px;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1210px;
    padding: 0 25px;
    transition: all 0.3s ease 0s;

    @media (max-width: $xl+px) {
      flex-direction: column;
    }
  }

  &__left {
    z-index: 1;
    max-width: 600px;
    margin-top: 80px;
    color: $gray-window;
    transition: all 0.3s ease 0s;

    @media (max-width: $xl+px) {
      width: 100%;
      margin: 64px auto 40px auto;
      text-align: center;
    }

    @media (max-width: $md+px) {
      margin-top: 0;
    }

    @media (max-width: $sm+px) {
      margin-top: 0;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 58px;
    color: #fff;
    text-align: left;

    @media (max-width: $xl+px) {
      text-align: center;
    }

    @media (max-width: $md+px) {
      margin-top: 50px;
      margin-bottom: 36px;
    }

    @media (max-width: $sm+px) {
      margin-top: 42px;
      margin-bottom: 31px;
    }
  }

  &__text {
    margin-bottom: 18px;
    font-size: 1.14rem;
    line-height: 28px;
  }

  &__author {
    font-size: 1rem;
    font-weight: bold;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
  }

  &__author-position {
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.6px;

    span {
      color: #1cbe95;
    }
  }

  &__right {
    position: relative;
    z-index: 1;
    width: 409px;
    height: 328px;

    @media (max-width: $xl+px) {
      margin: 0 auto 50px auto;
    }

    @media (max-width: $sm+px) {
      display: none;
    }
  }

  &__right-text {
    position: absolute;
    color: #cdcdcd;
    text-transform: uppercase;
    cursor: default;
    transition: all 0.3s ease 0s;

    span {
      color: #139679;
    }

    &--1 {
      top: 105px;
      left: 134px;
      width: 136px;
      height: 20px;
      font-family: 'Big John', sans-serif;
      font-size: 2.14rem;
    }

    &--h1 {
      left: 96px;
      width: 142px;
      height: 80px;
    }

    &--h2 {
      right: 60px;
      width: 104px;
      height: 80px;
    }
  }

  &__right-h {
    top: 90px;
    font-family: 'Bebas Neue Regular', sans-serif;
    font-size: 1.86rem;
    font-weight: 600;
    font-stretch: condensed;
    color: #fff;
    opacity: 0;
  }

  &__img-block {
    position: absolute;
    top: -38px;
    width: 409px;
    height: 328px;
    background-image: url('../images/tv-0.png');

    &:hover .impressed__right-h {
      opacity: 10;
    }

    &:hover .impressed__right-text--1 {
      opacity: 0;
    }

    @media (max-width: $xl+px) {
      top: 0;
    }
  }
}
