.intro {
  min-height: 100vh;
  position: relative;
  background-color: #717171;
  background: url('../images/header/intro-bg.jpg') 0 0 no-repeat;
  background-size: cover;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(28, 27, 27, 0.4);
  }

  &__body {
    position: relative;
    z-index: 1;
  }
}
.body-intro {
  &__content {
    height: calc(100vh - 225px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 113px;
    text-align: center;
  }
  &__button {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto 76px auto;
    border-radius: 50%;
    background-color: $crayola-green-jungle;
    transition: background-color 0.2s ease 0s;
    // change @media (hide button)
    @media (min-width: $md+px) {
      animation: move 0.7s infinite linear;
    }
    &:hover {
      background-color: $gray-window;
      animation: none;
    }
  }
}

@keyframes move {
  20% {
    transform: translateY(3px);
    animation-timing-function: ease-in-out;
  }
  75% {
    transform: translateY(-3px);
  }
}

.content-intro {
  &__title {
    font-family: 'Source Sans Pro light';
    font-size: 35px;
    line-height: 70px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 7px;
    transition: all 0.4s ease 0s;
    @media (min-width: $xxl+px) {
      font-size: 44px;
      margin-bottom: 19px;
    }
  }
  &__text {
    width: 603px;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    transition: all 0.4s ease 0s;
    @media (min-width: $xxl+px) {
      font-size: 18px;
      width: 623px;
    }
  }
}
