.map {
  position: relative;
  height: 496px;
  background-image: url('../images/map-bg.jpg');
  background-position: center;

  @media (max-width: $sm+px) {
    height: 350px;
  }
}

.overlay-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);

  &__inner {
    position: relative;
  }

  &__button {
    &--2 {
      position: absolute;
      top: 4px;
      width: 18px;
      height: 18px;
      background-color: $crayola-green-jungle;
      background-image: url('../images/icons/arrow.svg');
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      transition: background-color 0.2s ease 0s;
      animation: move 0.7s infinite linear;

      &:hover {
        background-color: $turquoise;
        animation: none;
      }
    }

    &--1 {
      margin-right: 13px;
      font-size: 1.14rem;
      line-height: 25px;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      background-color: transparent;

      &:hover {
        color: $very-pale;
      }

      &:hover ~ .overlay-map__button--2 {
        background-color: $turquoise;
        animation: none;
      }
    }
  }
}

._overlay-hide {
  display: none;
}
