.price {
  // min-height: 638px;
  background-color: $smoky-white;

  &__container {
    max-width: 857px;
    padding: 0 13px;
  }

  &__title {
    margin-top: 76px;

    @media (max-width: $md+px) {
      margin-top: 50px;
    }

    @media (max-width: $sm+px) {
      margin-top: 42px;
      margin-bottom: 34px;
    }
  }

  &__text {
    @media (max-width: $md+px) {
      margin-bottom: 44px;
    }

    @media (max-width: $sm+px) {
      margin-bottom: 34px;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 104px;

    @media (max-width: $md+px) {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    width: 234px;
    height: 302px;

    @media (max-width: $md+px) {
      width: 100%;
      height: auto;
      margin-bottom: 13px;
      box-shadow: 1px 1px 0 0 rgba(228, 228, 228, 1);
    }

    @media (min-width: $md+px) {
      &:hover > .front-item {
        transform: rotateX(-180deg);
      }

      &:hover > .back-item {
        transform: rotateX(0deg);
      }
    }
  }
}

.front-item,
.back-item {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 302px;
  overflow: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  box-shadow: 1px 1px 0 0 rgba(228, 228, 228, 1);
  transition: transform 0.3s linear;

  @media (max-width: $md+px) {
    position: static;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: visible;
    box-shadow: none;
    transition: none;
  }
}

.front-item {
  transform: rotateX(0deg);

  @media (max-width: $md+px) {
    width: 80%;
  }

  &__top {
    height: 67px;
    background-color: #19bd9a;

    @media (max-width: $md+px) {
      height: 0;
    }
  }

  &__top-title {
    font-size: 1.43rem;
    font-weight: bold;
    line-height: 67px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: $md+px) {
      margin-top: 38px;
      line-height: 20px;
      color: $gray-squirrel;
      background-color: #fff;
    }
  }

  &__cost {
    margin-top: 70px;
    font-family: 'Source Sans Pro Black', sans-serif;
    font-size: 3rem;
    color: $light-green-sea;
    text-align: center;

    @media (max-width: $md+px) {
      margin-top: 28px;
      font-size: 2.14rem;
    }
  }

  &__text {
    font-size: 1.43rem;
    line-height: 28px;
    color: $gray-squirrel;
    text-align: center;
  }
}

.back-item {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  background-color: #fff;
  transform: rotateX(180deg);

  @media (max-width: $md+px) {
    padding-top: 0;
    transform: none;
  }

  &__text-inner {
    flex: 1 0 auto;

    @media (max-width: $md+px) {
      padding-top: 15px;
    }
  }

  &__text {
    margin-left: 32px;
    line-height: 31px;
    color: $gray-squirrel;

    @media (max-width: $md+px) {
      margin: 0 0 13px 0;
      line-height: 16px;
      text-align: center;
    }
  }

  &__bottom-link {
    position: relative;
    display: block;
    flex: 0 0 auto;
    height: 67px;
    padding: 0 70px;
    margin-top: 24px;
    font-size: 1.14rem;
    line-height: 67px;
    color: #fff;
    background-color: #19bd9a;

    @media (min-width: $md+px) {
      &:hover {
        background-color: $turquoise;
      }
    }

    @media (max-width: $md+px) {
      width: 134px;
      height: auto;
      padding: 11px 28px 11px 28px;
      margin: 6px auto 15px auto;
      font-size: 1.14rem;
      line-height: 16px;
      color: #fff;
      background-color: #19bd9a;
      border: 1px solid #19bd9a;
      border-radius: 20px;
      // transition: all 0.2s ease 0s;

      // &:hover {
      //   color: $gray-squirrel;
      //   background-color: #fff;
      //   border: 1px solid $gray-squirrel;
      // }
    }

    &::before {
      position: absolute;
      top: 1px;
      right: 70px;
      // content: url(../images/icons/back-item-bottom-link-arrow.svg);
      content: '>';

      @media (max-width: $md+px) {
        display: none;
      }
    }
  }
}
