.price {
  background-color: $smoky-white;
  // background-color: #bfe1e1;
  min-height: 638px;
  @media (max-width: $md+px) {
    // height: 890px;
  }
  &__container {
    max-width: 857px;
    padding: 0 13px;
    // min-height: 638px;
  }
  &__title {
    @include section-title;
    // text-align: center;
    // margin-bottom: 36px;
    margin-top: 76px;
    @media (max-width: $md+px) {
      margin-top: 48px;
    }
    @media (max-width: $sm+px) {
      margin-bottom: 34px;
    }
  }
  &__text {
    @include section-text;
    // margin-bottom: 58px;
    @media (max-width: $md+px) {
      margin-bottom: 44px;
    }
    @media (max-width: $sm+px) {
      margin-bottom: 34px;
    }
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    @media (max-width: $md+px) {
      flex-direction: column;
      margin-bottom: 30px;
      // margin: 0 auto 0 50px;
      // background-color: #FFCAB8;
    }
  }
  &__item {
    position: relative;
    width: 234px;
    height: 302px;
    display: flex;
    @media (max-width: $md+px) {
      margin-bottom: 13px;
      width: 100%;
      height: auto;
      box-shadow: 1px 1px 0px 0px rgba(228, 228, 228, 1);
    }
    @media (min-width: $md+px) {
      &:hover > .front-item {
        transform: rotateX(-180deg);
      }
      &:hover > .back-item {
        transform: rotateX(0deg);
      }
    }
  }
}

.front-item,
.back-item {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 0.3s linear;
  box-shadow: 1px 1px 0px 0px rgba(228, 228, 228, 1);
  @media (max-width: $md+px) {
    position: static;
    overflow: visible;
    // backface-visibility: visible;
    width: 100%;
    height: auto;
    box-shadow: none;
    transition: none;
  }
}

.front-item {
  transform: rotateX(0deg);
  @media (max-width: $md+px) {
    width: 80%;
  }
  &__top {
    background-color: #19bd9a;
    height: 67px;
    @media (max-width: $md+px) {
      height: 0px;
    }
  }
  &__top-title {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 67px;
    @media (max-width: $md+px) {
      background-color: #fff;
      color: $gray-squirrel;
      line-height: 20px;
      margin-top: 38px;
    }
    // @media (max-width: $sm+px) {
    //   margin-top: 15px;
    // }
  }
  &__cost {
    font-family: 'Source Sans Pro Black';
    margin-top: 70px;
    color: $light-green-sea;
    font-size: 42px;
    text-align: center;
    @media (max-width: $md+px) {
      margin-top: 28px;
      font-size: 30px;
    }
  }
  &__text {
    color: $gray-squirrel;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
  }
}
.back-item {
  background-color: #fff;
  transform: rotateX(180deg);
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  @media (max-width: $md+px) {
    padding-top: 0px;
    transform: none;
    // flex-direction: row;
  }
  &__text-inner {
    flex: 1 0 auto;

    @media (max-width: $md+px) {
      padding-top: 15px;
    }
  }
  &__text {
    line-height: 31px;
    color: $gray-squirrel;
    margin-left: 32px;
    @media (max-width: $md+px) {
      line-height: 16px;
      margin-bottom: 13px;
      text-align: center;
      margin-left: 0px;
    }
  }

  &__bottom-link {
    flex: 0 0 auto;
    // 67 232
    font-size: 16px;
    height: 67px;
    line-height: 67px;
    display: block;
    background-color: #19bd9a;
    color: #ffffff;
    position: relative;
    padding: 0 70px;
    // margin-top: 25px;
    // position: absolute;
    // bottom: 0;
    // margin-bottom: 0;
    @media (max-width: $md+px) {
      height: auto;
      line-height: 16px;
      background-color: #fff;
      color: #fff;
      background: #19bd9a;
      font-size: 16px;
      transition: all 0.2s ease 0s;
      border: 1px solid #19bd9a;
      border-radius: 20px;
      padding: 11px 28px 11px 28px;
      width: 134px;
      // margin-bottom: 13px;
      // margin-top: 16px;
      margin: 6px auto 15px auto;
      // position: absolute;
      &:hover{
        border: 1px solid $gray-squirrel;
        color: $gray-squirrel;
        background-color: #fff;
      }
    }

    &::after {
      content: (url(../../images/price/back-item-bottom-link-arrow.svg));
      position: absolute;
      top: 1px;
      right: 70px;
      @media (max-width: $md+px) {
        display: none;
      }
    }
  }
}
