.testimonials {
  min-height: 650px;
  background-color: $smoky-white;

  &__title {
    @media (max-width: $md+px) {
      margin-top: 50px;
    }

    @media (max-width: $sm+px) {
      margin-top: 42px;
      margin-bottom: 30px;
    }
  }

  &__text {
    @media (max-width: $sm+px) {
      margin-bottom: 30px;
    }
  }

  &__slider-inner {
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 1px 1px 0 0 rgba(228, 228, 228, 1);
  }

  &__slider {
    display: block;
    min-height: 316px;
    padding-bottom: 60px;
    margin: 0 auto;
    background-color: #fff;

    @media (max-width: $sm+px) {
      padding-bottom: 28px;
    }
  }
}

.slider-testimonials {
  display: flex;
  justify-content: center;
  min-height: 147px;

  @media (max-width: $sm+px) {
    flex-direction: column;
    align-items: center;
  }

  &__left {
    margin-top: 52px;
    margin-right: 70px;

    img {
      border-radius: 50%;
    }

    @media (max-width: $sm+px) {
      margin-top: 33px;
      margin-right: 0;
    }

    @media (max-width: $sm+px) {
      margin-bottom: 25px;
    }
  }

  &__right {
    width: 100%;
    max-width: 755px;
    margin-bottom: 50px;

    @media (max-width: $sm+px) {
      margin-bottom: 0;
      text-align: center;
    }

    @media (max-width: $md+px) {
      margin-bottom: 8px;
    }
  }

  &__text {
    max-width: 755px;
    margin-top: 52px;
    margin-bottom: 22px;
    font-size: 1.14rem;
    line-height: 28px;
    color: $gray-squirrel;

    @media (max-width: $sm+px) {
      margin: 0 0 15px 0;
      font-size: 1rem;
      line-height: 25px;
      letter-spacing: 0.6px;
    }
  }

  &__name {
    margin-bottom: 3px;
    font-size: 1.14rem;
    font-weight: bold;
    line-height: 20px;
    color: $light-green-sea;
    text-transform: uppercase;
  }

  &__rank {
    line-height: 20px;
    color: $granite-gray;
    text-transform: uppercase;

    @media (max-width: $md+px) {
      margin-bottom: 38px;
    }

    @media (max-width: $sm+px) {
      margin-bottom: 25px;
    }
  }
}

.testimonials .slick-dots {
  display: flex;
  justify-content: center;

  li {
    width: 10px;
    height: 10px;
    margin-right: 10px;

    @media (max-width: $sm+px) {
      margin-right: 14px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.testimonials-dots {
  &__item {
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 1px solid #23b691;
    border-radius: 50%;
  }
}

.slick-active .testimonials-dots__item {
  background-color: #23b691;
}
