$smoky-white: #F1F1F1;
$very-pale: #DDE1E6;
$gray-window: #AAABAB;
$light-green-sea: #26B49D; 
$crayola-green-jungle: #23B691;
$gray-squirrel: #787D84;
$dark-turquoise: #116A6E;
$gray-brown: #3F3F3F;
$granite-gray: #2E353E;
