@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin section-title {
  font-family: 'Source Sans Pro light';
    line-height: 12px;
    font-size: 21px;
    color: $granite-gray;
    letter-spacing: 3.8px;
    margin-bottom: 36px;
    margin-top: 76px;
    text-align: center;
}

@mixin section-text {
  margin: 0 auto;
  line-height: 25px;
  color: $gray-squirrel;
  text-align: center;
  max-width: 458px;
  padding: 0 15px;
  margin-bottom: 58px;
}