@import "null";
@import "libs";
@import "mixins";
@import "fonts";
@import "colors";

$fontFamily: "Open Sans";

$maxWidthContainer: 1170;
$xxl: $maxWidthContainer + 300;
$xl: $maxWidthContainer + 12;
$lg: 992;
$md: 767.99;
$sm: 480;

body{
  font-family: $fontFamily;
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

._overlay{
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(15, 15, 15, 0.6);
  display: none;
}
._overlay-show{
  display: block;
}

._container{
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
}

._btn{
  background: none;
  font-size: 16px;
  line-height: 12px;
  transition: all 0.2s ease 0s;
  border: 1px solid $granite-gray;
  border-radius: 20px;
  padding: 12px 29px 12px 29px;
}
._title {
  font-family: 'Source Sans Pro light';
  line-height: 12px;
  font-size: 21px;
  color: $granite-gray;
  letter-spacing: 3.8px;
  margin-bottom: 36px;
  margin-top: 76px;
  text-align: center;
}
._text{
  margin: 0 auto;
  line-height: 25px;
  color: $gray-squirrel;
  text-align: center;
  max-width: 500px;
  letter-spacing: 0.6px;
  padding: 0 15px;
  margin-bottom: 58px;
}
@keyframes move {
  20% {
    transform: translateY(3px);
    animation-timing-function: ease-in-out;
  }
  75% {
    transform: translateY(-3px);
  }
}

.scroll-up{
  transition: opacity 0.2s ease 0s;
  position: fixed;
  width: 48px;
  height: 48px;
  background-color: $crayola-green-jungle;
  background-color: rgba(35, 182, 145, 0.7);
  border-radius: 50%;
  right: 15px;
  top: 35%;
  z-index: -1;
  transform: rotate(180deg);
  opacity: 0;
  img{
    display: block;
    margin-top: -1px;
    margin-left: -1px;
    width: 105%;
    height: 105%;
  }
  &:hover {
    background-color: $turquoise;
  }
  @media (max-width: $md+px) {
    display: none;
  }
}

.scroll-up--show{
  opacity: 1;
  z-index: 3;
}

.slick-slide {
  outline: none;
}

.noscript-info {
  width: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 100;
  font-size: 28px;
  line-height: 36px;
  padding: 25px;
}

@import "blocks/page-progress";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/hello";
@import "blocks/about";

@import "blocks/impressed";

@import "blocks/team";

@import "blocks/already";
@import "blocks/testimonials";
@import "blocks/blog";
@import "blocks/price";
@import "blocks/subscribe";
@import "blocks/contact";
@import 'blocks/form';
@import 'blocks/map';
@import "blocks/footer";