@import "null";
@import "libs";
@import "mixins";
@import "fonts";
@import "colors";

$fontFamily: "Open Sans";

$maxWidthContainer: 1170;
$xxl: $maxWidthContainer + 300;
$xl: $maxWidthContainer + 12;
$lg: 992;
$md: 767.99;
$sm: 480;

body{
  font-family: $fontFamily;
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

._overlay::after{
  content: '';
  z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(15, 15, 15, 0.6);
}

._container{
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
}

._btn{
  background: none;
  font-size: 16px;
  line-height: 12px;
  transition: all 0.2s ease 0s;
  border: 1px solid $granite-gray;
  border-radius: 20px;
  padding: 12px 29px 12px 29px;
}

@import "blocks/header";
@import "blocks/intro";
@import "blocks/hello";
@import "blocks/about";

@import "blocks/team";

@import "blocks/already";
@import "blocks/footer";