$fontFamily: 'Open Sans', sans-serif;

$maxWidthContainer: 1170;
$xl: $maxWidthContainer + 12;
$lg: 992;
$md: 768;
$sm: 480;

$smoky-white: #f1f1f1;
$very-pale: #dde1e6;
$gray-window: #aaabab;
$turquoise: #2aceab;
$light-green-sea: #26b49d;
$crayola-green-jungle: #23b691;
$gray-squirrel: #787d84;
$dark-turquoise: #116a6e;
$gray-brown: #3f3f3f;
$granite-gray: #2e353e;
$periwinkle-crayola: #e1e4eb;
